.filters {
    margin-top: 0.5rem;

    &__label {
        font-size: 0.6rem;
        display: block;
        margin-bottom: 0.3rem;
    }

    &__input {
        margin-right: 0.25rem;
        cursor: pointer;
    }
}