@use "../../assets/styles/variables" as *;

.card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    width: 94%;
    justify-content: center;

    &__results {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        font-family: $font-headers;
        font-size: 1.3rem;
    }
}