@use "src/assets/styles/variables" as *;

.app-container {
    display: grid;
    grid-template-columns: 18% 1fr;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;

    @media screen and (min-width: $breakpoint-mobile-large) {
        grid-template-columns: 13.5% 1fr;
    }

    @media screen and (min-width: $breakpoint-laptop) {
        grid-template-columns: 13% 1fr;
    }
}

.navbar {
    padding: 1.2rem;

    @media screen and (min-width: $breakpoint-laptop) {
        padding: 0.8rem;
    }
}

.card-list {
    padding: 1.2rem;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    margin-bottom: 2rem;
    overflow-y: auto;

    @media screen and (min-width: $breakpoint-laptop) {
        margin-left: 0.9rem;
    }

    @media screen and (min-width: $breakpoint-desktop) {
        margin-left: 1.4rem;
    }
}